<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julab.battletap" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectionActivity"
            android:label="@string/title_activity_connection"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".FinalizeCreateAccountActivity"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".PasswordForgottenActivity"
            android:label="@string/title_activity_password_forgotten"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BoardGameMultiFTActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BoardGameSoloActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SummaryBoardGameSoloActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HostClientActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ScoreSoloActivity"
            android:label="@string/title_activity_score_solo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SummaryBoardGameMultiFTActivity"
            android:label="@string/title_activity_summary_board_game_multi" >
        </activity>
    </application>

</manifest>
